layout {
    tab name="{{.TabName}}" focus=true {
        pane split_direction="vertical" {
            pane size="{{.SidebarWidth}}" name="sidebar" {
                command "bash"
                args "-c" "{{.SidebarArg}}"
            }
            pane name="shell" focus=true
        }
    }
}
